.container {
    border: 2px solid rgb(206, 149, 28);
    border-radius: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.name {}

.number {}

.data {
    display: flex;
    justify-content: center;
    align-items: center;

}

.iconContact {
    padding-right: 5px;
    color: rgb(206, 149, 28);
}

