.form {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(206, 149, 28);
    padding: 15px;
    border-radius: 5%;

}
div.formGroup{
    align-items: flex-start
}


.message {
    color: red;
    font-weight: 500;
    font-size: 12px;
}

.btn {
    width: 100%;
    padding: 10px 15px;
    background-color: transparent;
    color: rgb(206, 149, 28);
    border: 2px solid rgb(206, 149, 28);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(206, 149, 28);
    color: white;
    border: 2px solid white;
}