.userInfo{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}
.userBtn {
            padding: 10px 15px;
            background-color: transparent;
            color: rgb(206, 149, 28);
            border: 2px solid rgb(206, 149, 28);
            cursor: pointer;
        }
.userBtn:hover {
    background-color: rgb(206, 149, 28);
        color: white;
        border: 2px solid white;
}